//利用伪类和缩放实现移动端1px边

//这里利用伪类来生成1px边框

border-1px($color)
    position:relative
    &:after
        display:block
        position:absolute
        width:100%
        bottom:0
        left:0
        border:1px solid $color
        content:''

border-none()
  &:after
    display: none

bg-img($url)
    background-image:url($url + "@2x.png")
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio:3)
        background-image:url($url + "@3x.png")
        //这里不能用background，不然bgsize属性需要设置到具体图片下面

        

        
